.lease {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: $gray-darker;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  $block-name:                &; // #{$block-name}__element

  .h2 {
    margin-bottom: 25px;
    color: $white;

    @media (min-width: $screen-xl) {
      margin-bottom: 35px;
    }
  }

  &__title {
    color: $white;
  }

  &__intro {
    margin-bottom: 20px;
    color: $white;

    @media (min-width: $screen-xl) {
      margin-bottom: 30px;
    }

    #{$block-name}__para {
      font-weight: $font-weight--semi-bold;
    }
  }

  &__col {
    @include col(xs, 12);
    @include col(md, 6);
    @include col(xl, 4);
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;

      @media (min-width: $screen-md) {
      //   @include col-offset(md, 3);
        margin-bottom: 25px;
      }

      @media (min-width: $screen-xl) {
        //@include col-offset(xl, 0);
      }
    }

    // @media (min-width: $screen-xl) {
    //   margin-bottom: 0;
    // }

    &--page {

      &:last-child {

        @media (min-width: $screen-md) {
          @include col-offset(md, 0);
          margin-bottom: 25px;
        }
      }

      @media (min-width: $screen-xl) {
        margin-bottom: 25px;
      }
    }
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    text-decoration: none;
    background-color: $white;
    color: $text-color;
    overflow: hidden;
    box-shadow: $box-shadow;

    @media (min-width: $screen-md) {
      max-width: none;
      margin-left: 0;
      margin-right: 0;
    }

    &:hover,
    &:focus {

      #{$block-name}__item-title,
      #{$block-name}__item-descr {
        z-index: 1;
        color: $white;
      }

      #{$block-name}__item-promo {
        color: $color-warning;
        background-color: $white;
      }
    }

    &--show-more {

      .overlay {
        z-index: 1;
      }
    }
  }

  &__item-img {
    width: 100%;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }

    &--show-more {

      @media (min-width: $screen-md) {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        //width: 100%;
        //height: 100%;

        img {
          height: 100%;
        }
      }
    }
  }

  &__item-text {
    position: relative;
    flex: 1 1;
    padding: 20px 40px 20px 25px;
    @include add-arrow;

    &--show-more {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      max-height: 200px;
      min-height: 40px;
    }
  }

  &__item-title {
    position: relative;
    margin-top: 0;

    &--show-more {
      margin-bottom: 0;
      color: $white;
    }
  }

  &__item-descr {
    position: relative;
    margin-bottom: 0;
    font-size: 14px;
  }

  &__item-promo {
    position: absolute;
    z-index: 1;
    top: 25px;
    left: 25px;
    padding: 7px 20px 6px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $white;
    background-color: $color-warning;
    border-radius: 20px;
    transition: all $transition-time ease-out;
  }

  &--page {
    padding-top: 0;
    padding-bottom: 0;
    background: none;
  }
}
