// Make viewport great again (responsive)
// http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
@at-root {

  @-ms-viewport { // stylelint-disable-line  at-rule-no-vendor-prefix
    width: device-width;
  }
}

.page { // html

  $block-name:                &; // #{$block-name}__element

  box-sizing: border-box;
  font-size: $font-size;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%; // stylelint-disable-line  property-no-vendor-prefix
  min-width: 320px;
  min-height: 100%;

  &__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  &__content {
    flex-grow: 1;
  }

  &__footer-wrapper {
    flex-shrink: 0;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  // Типографика проекта — в блоке typo
  display: flex;           // Исправляем баг в IE для min-height and flexbox (flex-direction:column)
  flex-direction: column;  // и прижимаем footer в IE 10-11
  background-color: $bg-light;
  margin: 0;
  min-height: 100%;
}

[tabindex='-1']:focus {
  outline: none !important; // stylelint-disable-line  declaration-no-important
}

// iOS 'clickable elements' fix for role='button'
[role='button'] {
  cursor: pointer;
}

// We love Safari
input[type='search'] {
  -webkit-appearance: textfield; // stylelint-disable-line  property-no-vendor-prefix
}

// Avoid 300ms click delay on touch devices that support the `touch-action` CSS property.
a,
// area,
button,
[role='button'],
input,
label,
select,
// summary,
textarea {
  touch-action: manipulation;
}

// We love EDGE! This is a browser!
svg {

  a &,
  button & {
    pointer-events: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.main {

  &--bg {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;

    &::after {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      content: "";
      display: block;
      height: 500px;
      width: 100%;
      background-image: url(../img/intro-bg.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  &--contacts {
    padding-bottom: 0;

    &::after {
      height: 100%;
      //display: none;
    }
  }

  &--page-404 {

    @media (min-width: $screen-md) {
      padding-top: 90px;
      padding-bottom: 100px;
    }

    @media (min-width: $screen-lg) {
      padding-top: 140px;
      padding-bottom: 150px;
    }

    &::after {
      height: 100%;
      background-image:
        linear-gradient(to top, $color-warning, $color-warning 44%, rgba(255, 255, 255, 0) 44% ),
        url(../img/page-404-bg.jpg);

      @media (min-width: $screen-md) {
        background-image:
          linear-gradient(to left, $color-warning, $color-warning 49%, rgba(255, 255, 255, 0) 49% ),
          url(../img/page-404-bg.jpg);
      }
    }
  }
}

.container {
  display: block;
  width: 100%;
  min-height: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background: none;

  @media (min-width: $screen-md) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: $screen-xl) {
    $padding-min: 80px; // нужный отступ от края экрана
    $half-screen-xl: $screen-xl / 2 - $padding-min;
    // padding: 1em calc(50% - 600px); //600px - это $screen-xl / 2 - нужный отступ от края экрана
    padding-left: calc(50% - #{$half-screen-xl});
    padding-right: calc(50% - #{$half-screen-xl});
  }

  &--full {
    padding-left: 0;
    padding-right: 0;

    @media (min-width: $screen-sm) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.row {
  min-height: 10px;
  @include row();

  &--full {
    margin-left: 0;
    margin-right: 0;
  }
}

.publishedon {
  display: block;
  margin-top: 10px;
  font-weight: 500;
  font-size: 14px;
  // opacity: 0.7;
}

.overlay {
  //visibility: hidden;

  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  //z-index: 1;
  content: "";
  background: $color-warning;
  opacity: 0.95;
  transform: translateX(-100%);
  transition: transform $transition-time ease-out;
}

a:hover,
a:focus {

  & > .overlay {
    //visibility: visible;
    transform: none;
  }
}
