.news {
  padding-top: 50px;
  padding-bottom: 50px;

  $block-name:                &; // #{$block-name}__element

  &__container {
    padding-left: 3px;
    padding-right: 3px;
  }

  &__slide {
    align-items: stretch;
    box-shadow: $box-shadow;
  }
}
