/* montserrat-500 - latin_cyrillic-ext */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat Medium'), local('Montserrat-Medium'),
       url('../fonts/montserrat-v13-latin_cyrillic-ext-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v13-latin_cyrillic-ext-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700 - latin_cyrillic-ext */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
       url('../fonts/montserrat-v13-latin_cyrillic-ext-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v13-latin_cyrillic-ext-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-900 - latin_cyrillic-ext */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: local('Montserrat Black'), local('Montserrat-Black'),
       url('../fonts/montserrat-v13-latin_cyrillic-ext-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v13-latin_cyrillic-ext-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}




body {
  // ТОЛЬКО типографика!
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  text-rendering: optimizeLegibility;
  color: $text-color;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family;
  font-weight: $font-weight--black;
  line-height: $line-height;
  color: $title-color;
}

.h1,
.h2,
h1,
h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.h3,
.h4,
.h5,
.h6,
h3,
h4,
h5,
h6 {
  margin-top: $line-height;
  margin-bottom: ($line-height / 2);
}

.h1,
h1 {
  font-size: $font-size * 1.625;

  @media (min-width: $screen-lg) {
    font-size: $font-size * 2;
  }
}

.h2,
h2 {
  font-size: $font-size * 1.625;

  @media (min-width: $screen-lg) {
    font-size: $font-size * 1.75;
  }
}

.h3,
h3 {
  font-size: $font-size * 1.25;

  @media (min-width: $screen-lg) {
    font-size: $font-size * 1.5;
  }
}

.h4,
h4 {
  font-size: $font-size;
}

.h5,
h5 {
  font-size: $font-size * 0.75;
}

.h6,
h6 {
  font-size: $font-size * 0.75;
}

.p,
p,
ul,
ol,
dl,
blockquote,
pre,
address,
figure {
  margin-top: ($line-height / 2);
  margin-bottom: ($line-height / 2);
  font-weight: $font-weight;
  color: currentColor;
}

address {
  font-style: normal;
}

ul,
ol {
  padding-left: 1.2em;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-top: 0;
  margin-bottom: 0;
}

li {
  line-height: inherit;
}

hr {
  margin-top: $line-height;
  margin-bottom: $line-height;
  border: 0;
  border-top: 1px solid $border-color;
}

.small,
small {
  font-size: $font-size * 0.75;
}

sub,
sup {
  font-size: 60%;
}

b,
strong {
  font-weight: bolder;
}

abbr[title] {
  text-decoration: underline dotted;
}

blockquote {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}
