.language-select-wrapper {
  position: relative;
  width: 56px;
  height: 35px;
  margin-right: 20px;

  @media (min-width: $screen-md) {
    margin-right: 30px;
  }

  @media (min-width: $menu-desktop-width) {
    margin-right: 0;
    margin-left: 120px;
  }
}

.language-select {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  height: 35px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  color: #000;
  overflow: hidden;
  cursor: pointer;

  // outline: 1px solid black;

  &::before {
    position: absolute;
    top: 15px;
    right: 0;
    content: "";
    display: block;
    width: 11px;
    height: 6px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 8' fill='%23CA2E34'%3E%3Cpath d='M7.2 8A1.69 1.69 0 0 1 6 7.51L.29 1.74A1 1 0 0 1 .35.28a1.14 1.14 0 0 1 1.55 0l5.3 5.35L12.08.36a1.14 1.14 0 0 1 1.54-.1 1 1 0 0 1 .11 1.46L8.44 7.47A1.69 1.69 0 0 1 7.23 8z'/%3E%3C/svg%3E");
  }

  $block-name:                &; // #{$block-name}__element

  &__item {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    order: 2;
    min-height: 35px;
    //margin-bottom: 10px;
    text-align: center;
    background: #fff;

    &.active {
      order: 1;
      pointer-events: none;
    }

    &:hover,
    &:focus {
      cursor: pointer;
      background: #fff;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    padding: 5px 20px 5px 3px;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: none;
    text-transform: none;
    color: inherit;
  }

  &--open {
    height: auto;

    &::before {
      transform:scale(1, -1);
    }
  }
}
