.banner-main {
  background-color: $gray-light;

  $block-name:                &; // #{$block-name}__element

  &__item {
    display: block;
    width: 100%;
    height: 200px;

    @media (min-width: $screen-md) {
      height: 300px;
    }

    @media (min-width: $screen-xl) {
      height: 450px;
    }
  }
}
