.form {
  font-family: inherit;

  $block-name:                &; // #{$block-name}__element

  .error {
    display: block;
    min-height: 21px;
    margin-bottom: 5px;
    font-size: 12px;
    //white-space: nowrap;
    //overflow: hidden;
    //text-overflow: ellipsis;
    color: $color-warning;
  }

  &__fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;

    &:not(:last-child) {
      margin-bottom: $line-height;
    }
  }

  &__legend {
    display: block;
    width: 100%;
    margin-top: $line-height;
    margin-bottom: ($line-height / 2);
    font-size: $font-size;
    font-family: $font-family;
    font-weight: 700;
    line-height: $line-height;
    color: currentColor;
  }

  &__title {
    margin-top: 0;
  }

  &__group {

  }

  &__text-input {
    width: 100%;
    padding: 11px 10px;
    font-size: 16px;
    font-family: inherit;
    font-weight: inherit;

    &:hover,
    &:focus {
      outline: none;
      //outline: 1px solid $color-warning;
      border-color: $color-warning;
    }
  }

  &__submit {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    padding: $field-padding-vertical  $field-padding-horizontal * 2;
    margin: 0 0 26px 0;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    text-align: center;
    font-size: 16px;
    font-family: inherit;
    font-weight: $font-weight--bold;
    line-height: $line-height;
    text-decoration: none;
    text-transform: none;
    color: $white;
    border-radius: $border-radius;
    border: 3px solid $white;
    background-color: rgba(255, 255, 255, 0);
    background-image: none;
    box-shadow: none;
    cursor: pointer;
    transition: all $transition-time ease-out;

    &:hover,
    &:focus {
      text-decoration: none;
      color: $color-warning;
      background-color: $white;
      outline: none;
    }

    &--disabled,
    &:disabled {
      cursor: not-allowed;
      color: $text-muted;
      background-color: $white;
      pointer-events: none;
    }
  }

  &__agreement {
    display: none;

    &:checked {

        & ~ ::before {
          background-color: $color-warning;
          border-color: $color-warning;
        }
    }
  }

  &__agreement-label {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding-left: 40px;
    margin-top: 15px;
    font-size: 12px;
    color: $white;
    cursor: pointer;

    &:hover,
    &:focus {
      text-decoration: underline;

      &::before {
        border-color: $color-warning;
      }
    }

    &::before,
    &::after {
      position: absolute;
      content: "";
      display: block;
    }

    &::before {
      z-index: 1;
      top: 4px;
      left: 4px;
      width: 17px;
      height: 17px;
      border: 2px solid $text-muted;
      background-color: $white;
    }

    &::after {
      top: 0;
      left: 0;
      width: 25px;
      height: 25px;
      background-color: $white;
    }
  }
}
