.carwash-order-modal {
  max-width: 380px;
  padding: 0;
  box-shadow: $box-shadow;

  @media (min-width: $screen-lg) {
    width: 445px;
    max-width: 480px;
  }

  @media (min-width: $screen-xl) {
    width: 480px;
    max-width: 570px;
  }

  $block-name:                &; // #{$block-name}__element

  .fancybox-button {
    width: 40px;
    height: 40px;
    padding: 3px;
    background-color: red;

    svg path {
      fill: $white;
    }
  }

  &__header {

    h3 {
      margin: 0;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 20px;
      padding-right: 60px;
      line-height: 1.3;

      @media (min-width: $screen-md) {
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 25px;
        padding-right: 65px;
      }

      @media (min-width: $screen-xl) {
        padding-left: 50px;
        padding-right: 50px;
      }
    }
  }

  &__content {
    min-height: 200px;
    padding: 25px 20px;
    background-color: green;
    background-image: url(../img/modal-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    p {
      margin: 0;
    }

    p + p {
      margin-top: 0.5em;
    }

    @media (min-width: $screen-md) {
      padding: 35px 25px;
    }

    @media (min-width: $screen-xl) {
      padding-left: 50px;
      padding-right: 50px;
    }
  }
}
