.copyrights {
  padding-top: 15px;
  padding-bottom: 15px;
  color: $white;
  background-color: $black;

  $block-name:                &; // #{$block-name}__element

  &__col-text {
    @include col(xs, 12);
    @include col(md, 9);
    margin-bottom: 10px;
    font-size: 12px;

    span {
      display: block;
      text-align: center;

      @media (min-width: $screen-md) {
        margin-top: auto;
        margin-bottom: auto;
        text-align: left;
      }
    }

    @media (min-width: $screen-md) {
      display: flex;
      margin-bottom: 0;
    }
  }

  &__col-logo {
    @include col(xs, 12);
    @include col(md, 3);
    text-align: center;

    @media (min-width: $screen-md) {
      text-align: right;
    }
  }

  &__logo {
    display: inline-block;
    vertical-align: top;
    filter: brightness(0.35);

    img {
      display: block;
    }

    &:hover,
    &:focus {
      filter: none;
    }
  }
}
